# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/HPS?sslmode=disable"

# Secret key for JWT token signing
JWT_SECRET="hospitalsystemsecretkey"

# Port number for backend Express API server
PORT=5001

# Allowed CORS Origins (Comma separated)
CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"
